*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Start of Navbar*/
.navbar{
    background-color: #0b9686;
    color: #f8fcfb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.navbar .brand img{
    opacity: .6;
    width: 7rem;
    height: 2.5rem;
    object-fit: cover;
}

.navbar .items ul{
    list-style: none;
}

.navbar .items ul li{
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar .items ul .active{
    background-color: #0d887a;
    padding: .3rem 1rem;
    border-bottom: .2rem #097c6f solid;
    border-radius: .2rem;
}

.navbar .items ul li a{
    text-decoration: none;
    color: #f8fcfb;
}

.navbar .contact-info h6{
    font-weight: normal;
    text-align: end;
}

.navbar .contact-info h5{
    font-weight: bolder;
    font-size: large;
}
/*End of Navbar*/

/*Start of Hero Section*/
.hero-section{
    background-image: url('/assets/hero-img.png');
    background-size: cover;
    background-position-x:left;
    background-position-y: bottom;
    height: 90vh;
}

.container{
    padding-right: 7rem;
    padding-left: 7rem;
}
.hero-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    width: 50%;
}
.hero-section .container h1{
    font-size: 3em;
    font-weight: 500;
}

.hero-section .container p{
    font-size: 1.3em;
    font-weight: 200;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-section .container .hero-btns button{
    border: none;
    padding: .6rem;
    font-size: 1em;
    border-radius: 2rem;
}

.hero-section .container .hero-btns button:hover{
    cursor: pointer;
}

.hero-section .container .hero-btns .btn-1{
    background-color: #3cac90;
    color: #fff;
    margin-right: .5rem;
}

.hero-section .container .hero-btns .btn-2{
    background-color: #ffbb1d;
    color: #252525;
}

/*End of Hero Section*/